<div class="background">
  <div class="flex-container">
    <mat-card class="host-card">
      <div class="sign">
        <h1>All Past Hunts</h1>
      </div>
    </mat-card>
      <div class="dashboard">
        <table class="hunt-table">
          <thead>
            <tr>
              <th>Name of Hunt</th>
              <th>Description</th>
              <th>Owner</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let hunt of serverFilteredHunts" class="table-elements">
              <td>{{ hunt.name }}</td>
              <td>{{ hunt.description }}</td>
              <td>{{ hunt.ownerId }}</td>
              <td class="button-column">
                <button class="action-button start-button">Start Hunt</button>
                <button class="action-button delete-button">Delete Hunt</button>
                <button class="action-button details-button" (click)="navigateToCreateTask(hunt._id)">See Details</button>


              </td>


            </tr>
          </tbody>
        </table>
      </div>
      <button class="create-button" (click)="navigateToCreateHunt()">Create Hunt</button>


  </div>
 </div>
