  <div class="flex-container">
    <mat-card class="home-card">
      <div class="sign">
        <h1>Welcome to the hunt</h1>
      </div>
    </mat-card>

    <mat-card class="input-card" *ngIf="showHunterInput">
      <div class="sign">
        <input type="text" class="form-control" id="username" [(ngModel)]="username" placeholder="Enter the username">
        <input type="text" class="form-control" id="inviteCode" [(ngModel)]="inviteCode" placeholder="Enter the invite code">
        <button class="submit-button" (click)="submitCode()" >Submit</button>
      </div>
    </mat-card>

    <mat-card class="home-card bottom-card">
      <div class="choice-sign">
        <h2>Choose Your Adventure</h2>
        <button class="action-button" (click)="hostLogin()">Host</button>
        <button class="action-button" (click)="showHunterForm()">Hunter</button>
      </div>
    </mat-card>
  </div>
  <!-- <button class="create-button" (click)="navigateToCreateTask();">Add Task</button> -->
