<form [formGroup]="huntForm">
  <h2>Create Hunt</h2>

  <div>
    <label for="title">Title: </label>
    <input id="title" type="text" formControlName="title">
  </div>

  <div>
    <label for="description">Description: </label>
    <input id="description" type="text" formControlName="description">
  </div>
  <br>
  <div formArrayName="tasks">
    <h2>Tasks</h2>

    <div *ngFor="let task of tasks.controls; let i=index">
      <!-- The repeated alias template -->
      <label for="task-{{ i }}">Task:</label>
      <input id="task-{{ i }}" type="text" [formControlName]="i">
    </div>
    <button type="button" (click)="addTask()">+</button>


    <br>
    <button type="button"> Create Hunt</button>
  </div>

</form>
