<div class="flex-row">
  <mat-card class="edit-hunt-wrapper">
    <div class="banner">Edit Hunt</div>
    <form [formGroup]="editHuntForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="flex-1">
        <input matInput placeholder="Title" formControlName="title">
      </mat-form-field>
      <mat-form-field class="flex-1">
        <textarea matInput placeholder="Description" formControlName="description"></textarea>
      </mat-form-field>

      <!-- Add this block for tasks -->
      <div formArrayName="editTaskForm">
        <div *ngFor="let taskFormGroup of editTaskForm.controls; let i = index" [formGroupName]="i">
          <mat-form-field class="flex-1">
            <input matInput placeholder="Task" formControlName="taskInput">
          </mat-form-field>
        </div>
      </div>
      <mat-card-actions align="end">
      <button type="submit" mat-raised-button color="accent" [disabled]="!editHuntForm.valid">Update Hunt</button>
    </mat-card-actions>
    </form>
  </mat-card>
</div>
