@if (this.hunt) {
<a class="hunt-card-link">
  <mat-card class="hunt-card" (click)="onCardClick()">

    <mat-card-header>
      <mat-card-title>{{ hunt.title }}</mat-card-title>
      <mat-card-subtitle>{{ hunt.description }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-actions class="card-actions">
      <button mat-icon-button matTooltip="Play Hunt" (click)="onPlayClick($event)" data-test="playHuntButton" disabled>
        <mat-icon class="play-button-icon" aria-label="Play Hunt">play_arrow</mat-icon>
      </button>
      @if (editable) {
      <button mat-icon-button matTooltip="Edit Hunt" (click)="onEditClick($event)" data-test="editHuntButton">
        <mat-icon class="edit-button-icon" aria-label="Edit Hunt">edit</mat-icon>
      </button>
      }
      <button mat-icon-button matTooltip="Inspect Hunt" (click)="onInspectClick($event)" data-test="inspectHuntButton" [routerLink]="['/hunts',this.hunt._id]">
        <mat-icon class="inspect-button-icon" aria-label="Inspect Hunt">search</mat-icon>
      </button>
      @if (editable) {
      <button mat-icon-button matTooltip="Delete Hunt" (click)="onDeleteClick($event)" data-test="deleteHuntButton">
        <mat-icon class="delete-button-icon" aria-label="Delete Hunt">delete</mat-icon>
      </button>
      }
    </mat-card-actions>
  </mat-card>
</a>
}
