<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />

<div class="flex-row">
  <div class="flex-1">
    @if (hunt) {
      <mat-card class="hunt-card-wrapper">
        <div class="banner">Hunt Details <i class="fa-solid fa-circle-info"></i></div>
        <div class="flex-1">
          <div class="hunt-cards-container flex-row gap-8 flex-wrap">
            <mat-card-header>
                <mat-card-title class="hunt-title">{{ hunt.title }}</mat-card-title>
                <mat-card-subtitle>{{ hunt.description }}</mat-card-subtitle>
        </mat-card-header>
          </div>
        </div>
      </mat-card>

    } @else if (error) {
      <mat-card class="error-card">
        <mat-card-content>
          <h2>
            {{ error.help }}
          </h2>
          <p>
            {{ error.message }}
          </p>
          <p>
            {{ error.httpResponse }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button color=primary mat-raised-button routerLink="/hunts">Back to Hunts List</button>
        </mat-card-actions>
      </mat-card>
    } @else {
      <mat-card>
        <mat-card-content>
          <p>Loading Hunt Profile data...</p>
        </mat-card-content>
      </mat-card>
    }
  </div>
</div>
