.error-card {
  background-color: #b00020;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.banner {
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  color: yellowgreen;
}
.hunt-title {
  font-size: 30px;
  color: #707070;
}

